@use '../abstracts/variables' as *;

// catalog page
.cotalog-products,
.product-details {
    select {
        padding: 11px 43px 11px 14px;
        color: $color-grey;
        font-family: $font-primary;
        border: 2px solid rgb(233 233 237 / 100%);
        font-size: 16px;
        background: $color-white;
        cursor: pointer;
        transition: border-color 0.3s, transform 0.2s ease;
        appearance: none;
        background-image: url('/src/assets/img/icons/arrow.svg');
        background-repeat: no-repeat;
        background-position: right 14px center;
        background-size: 10px;

        &:hover {
            border-color: rgb(185 39 112 / 60%);
        }

        &:focus {
            outline: none;
            border-color: rgb(185 39 112 / 100%);
        }

        option {
            font-size: 16px;
        }
    }
}

// product card
.product-details {
    &__options {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    &__label {
        display: block;
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        margin-bottom: 13px;
    }

    &__select {
        width: 100%;
        padding: 12px;
        font-size: $font-size-smallest;
        border: 2px solid rgb(233 233 237 / 100%);
        color: rgb(114 113 116 / 100%);
        margin-bottom: 20px;
    }
}

// contact page
.feedback {
    &__form {
        flex: 1;
        max-width: 632px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__textarea {
        height: 119px;
        resize: none;
    }

    &__input,
    &__textarea {
        font-family: $font-primary;
        padding: 12px;
        font-size: $font-size-small;
        border: 2px solid rgb(185 39 112 / 50%);
        width: 100%;

        &:focus {
            border-color: rgb(185 39 112 / 100%);
            outline: none;
        }
    }

    &__input.invalid,
    &__textarea.invalid {
        border: 2px solid rgb(255 0 0);
    }
}

// product-details; reviews section
.product-reviews {
    &__label {
        font-size: $font-size-smallest;
        font-weight: $font-weight-bold;
    }

    &__textarea {
        width: 100%;
        height: 170px;
        min-height: 120px;
        margin-bottom: 22px;
        padding: 10px;
        border: 2px solid rgb(185 39 112 / 50%);
        outline: none;
        font-size: $font-size-small;
        resize: none;
    }

    &__inputs {
        display: flex;
        gap: 20px;
        margin-bottom: 33px;
    }

    &__input {
        flex: 1;
        padding: 10px;
        border: 2px solid rgb(185 39 112 / 50%);
        font-size: $font-size-small;
    }

    &__checkbox {
        font-size: 0.91rem;
        display: flex;
        align-items: center;
        gap: 6px;
        margin-bottom: 31px;

        input[type='checkbox'] {
            appearance: none;
            margin-right: 9px;
            cursor: pointer;
            width: 16px;
            height: 16px;
            border: 2px solid rgb(178 177 181);
            position: relative;
            display: inline-block;

            &:checked::before {
                content: '';
                position: absolute;
                left: 2px;
                top: -2px;
                width: 8px;
                height: 13px;
                border: solid rgb(147 195 52);
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }
        }
    }

    &__submit {
        padding: 12px 21px;
        font-size: 12px;
    }
}
