@use '../abstracts/variables.scss' as *;

.modal {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &.open {
        display: flex;
    }

    &__overlay {
        position: absolute;
        inset: 0;
        background: rgb(0 0 0 / 80%);
    }

    &__content {
        font-family: $font-primary;
        position: relative;
        background: $color-white;
        display: flex;
        flex-direction: column;
        padding: 40px 70px;
        max-width: 480px;
        width: 100%;
        z-index: 1;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }

    &__input {
        border: 2px solid rgb(185 39 112 / 50%);
        width: 100%;
        height: 40px;
        padding: 10px;
        font-size: 16px;
    }

    &__input:focus {
        border-color: rgb(185 39 112 / 100%);
        outline: none;
    }

    &__label {
        margin-top: 30px;
        font-size: 14px;
    }

    &__checkbox {
        margin-top: 30px;
        font-size: 0.91rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;

        &__wrapper {
            display: flex;
            align-items: center;
        }

        &-label {
            font-size: 9px;
            color: rgb(114 113 116 / 100%);
        }

        input[type='checkbox'] {
            appearance: none;
            margin-right: 9px;
            cursor: pointer;
            width: 16px;
            height: 16px;
            border: 2px solid rgb(178 177 181);
            position: relative;
            display: inline-block;

            &:checked::before {
                content: '';
                position: absolute;
                left: 2px;
                top: -2px;
                width: 8px;
                height: 13px;
                border: solid rgb(147 195 52);
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }
        }
    }

    &__link {
        display: inline-block;
        color: rgb(185 39 112 / 100%);
        text-decoration: none;
        font-size: 9px;
        font-weight: $font-weight-bold;
        align-self: flex-start;
        margin-top: 4px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__btn {
        font-size: 12px;
        padding: 12px;
    }

    &__input[type='password'] {
        padding-right: 30px;
        position: relative;
    }

    &__password-wrapper {
        position: relative;
        width: 100%;
    }

    &__eye-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        width: 18px;
        height: 14px;
    }

    .required {
        color: rgb(185 39 112 / 100%);
    }
}

@media (width <= 768px) {
    .modal {
        &__content {
            padding: 15px 20px;
            max-width: 350px;
        }

        &__label {
            margin-top: 15px;
        }

        &__checkbox {
            margin: 10px 0;
        }
    }
}
