@use '../abstracts/variables' as *;

.product-details {
    display: flex;
    padding: 0 20px;
    flex-wrap: wrap;
    margin-top: 60px;

    &__container {
        display: flex;
        gap: 20px;
        width: 100%;
    }

    &__gallery {
        display: flex;
        flex-direction: column;
        flex: 0 0 645px;
        max-width: 100%;
        gap: 15px;
    }

    &__main-image {
        max-width: 645px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__thumbnails {
        display: flex;
        gap: 15px;
    }

    &__thumbnail {
        width: 150px;
        height: 150px;
        object-fit: cover;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: $font-primary;
        flex: 1 1 auto;
        max-width: 636px;
        width: 100%;
        background-color: $color-white;
        padding: 20px;
    }

    &__title {
        font-size: 30px;
        line-height: 42px;
        font-weight: $font-weight-bold;
        margin-bottom: 10px;
    }

    &__item-rating {
        margin-bottom: 15px;

        img {
            width: 17px;
            height: 17px;
        }
    }

    &__review {
        margin-left: 16px;
        font-size: $font-size-smallest;
    }

    &__price {
        font-size: 20px;
        font-weight: $font-weight-bold;
        margin-bottom: 20px;
    }

    &__description {
        font-size: $font-size-medium;
        line-height: 24px;
        color: $color-grey;
        margin-bottom: 30px;
    }

    &__actions {
        display: flex;
        gap: 12px;
        margin-top: 40px;
    }

    &__quantity {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        gap: 10px;
        border: 2px solid rgb(185 39 112 / 100%);
    }

    &__quantity-decrease,
    &__quantity-increase {
        background-color: $color-white;
        color: rgb(112 112 112 / 100%);
        padding: 10px;
        font-size: 25px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            color: $color-white;
            background-color: #c2185b;
        }
    }

    &__quantity-value {
        font-size: 25px;
        font-weight: $font-weight-bold;
        color: rgb(112 112 112 / 100%);
    }

    &__add-to-cart {
        padding: 15px 20px;
        width: 100%;
        max-width: 470px;
        font-size: $font-size-medium;
    }

    &__payments {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        margin-top: 40px;

        &-title {
            color: rgb(114 113 116 / 100%);
            font-size: 20px;
            font-weight: $font-weight-bold;
        }
    }
}

@media (width <= 1024px) {
    .product-details {
        &__container {
            flex-direction: column;
            align-items: center;
        }

        &__gallery {
            flex: 1 1 auto;
            max-width: 90%;
        }

        &__thumbnail {
            width: 120px;
            height: 120px;
        }

        &__info {
            max-width: 90%;
        }
    }
}

@media (width <= 768px) {
    .product-details {
        margin-top: 20px;

        &__container {
            flex-direction: column;
        }

        &__gallery {
            flex-direction: column;
        }

        &__main-image {
            max-width: 100%;
        }

        &__thumbnails {
            flex-flow: row wrap;
            justify-content: center;
            max-height: none;
        }

        &__thumbnail {
            width: 90px;
            height: 90px;
        }

        &__info {
            max-width: 100%;
        }

        &__title {
            font-size: 24px;
            line-height: 32px;
        }

        &__price {
            font-size: 18px;
        }

        &__description {
            font-size: $font-size-small;
        }

        &__actions {
            flex-direction: column;
            align-items: stretch;
            margin-top: 20px;
        }

        &__add-to-cart {
            max-width: 100%;
        }
    }
}
