@use '../abstracts/variables' as *;

.footer {
    font-family: $font-secondary;

    &__container {
        max-width: 1340px;
        padding: 0 20px;
    }

    &__benefits-wrapper {
        margin-top: 120px;
        margin-bottom: 120px;
        background: url('/src/assets/img/our-benefits-bg.png') center / contain;
        padding: 40px;
        color: $color-white;
        flex: 0 0 373px;
    }

    &__benefits-title {
        margin-bottom: 32px;
        font-size: 19px;
        font-weight: $font-weight-bold;
    }

    &__benefits {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__benefit {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        max-width: 258px;
    }

    &__content {
        display: flex;
        justify-content: space-between;

        &-wrapper {
            flex: 0 1 639px;
        }

        &-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            flex: 0 0 373px;
        }
    }

    &__section {
        &--contact {
            flex: 0 0 373px;
        }
    }

    &__title {
        margin-bottom: 25px;
        font-weight: $font-weight-bold;
        font-size: $font-size-small;
    }

    &__list {
        li {
            margin-bottom: 12px;
        }
    }

    &__link {
        text-decoration: none;
        font-size: $font-size-small;
        color: $color-black;
        transition: color 0.3s;

        &:hover {
            color: $color-link-hover;
        }
    }

    &__contact-text {
        font-size: $font-size-small;
        line-height: 22px;
        margin-bottom: 73px;
    }

    &__contact-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 32px 23px;
    }

    &__contact-item {
        display: flex;
        align-items: center;
        gap: 14px;

        a {
            color: inherit;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
                color: $color-link-hover;
            }
        }

        address {
            font-style: normal;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

    &__schedule {
        display: flex;
        flex-direction: column;
        gap: 8px;

        time {
            display: block;
        }
    }

    &__section--links {
        width: 121px;
    }

    &__section--achievements {
        width: 138px;
    }

    &__text {
        font-size: $font-size-small;
        line-height: 24px;
    }

    &__copyright {
        margin-top: 110px;
        padding-bottom: 50px;
        text-align: center;
        font-size: 14px;
        color: rgb(0 0 0 / 35%);
    }
}

@media (width <= 1024px) {
    .footer {
        &__benefits-wrapper {
            margin-top: 60px;
            margin-bottom: 60px;
            padding: 20px;
        }

        &__benefits-title {
            text-align: center;
        }

        &__content {
            flex-direction: column;
        }

        &__content-wrapper {
            flex: 0 1;
        }

        &__content-top {
            justify-content: center;
            gap: 50px;
        }

        &__content-section--contact {
            margin-top: 35px;
            flex: 0 0;
        }

        &__contact-info {
            justify-content: center;
        }
    }
}

@media (width <= 768px) {
    .footer {
        &__benefits {
            flex-flow: column nowrap;
            align-items: center;
        }

        &__content-top {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__section--contact {
            flex: 0 0;
        }

        &__text {
            margin-bottom: 15px;
        }

        &__contact-text {
            margin-bottom: 35px;
        }

        &__copyright {
            margin-top: 60px;
        }
    }
}
