@use '../abstracts/variables' as *;

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.header {
    font-family: $font-primary;
    font-weight: $font-weight-bold;
    font-size: $font-size-medium;

    &__container {
        max-width: 1340px;
        padding: 0 20px;
        position: relative;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
        border-bottom: 1px solid rgb(238 238 238);
        position: relative;
    }

    &__socials {
        display: flex;
        gap: 20px;
    }

    &__logo {
        .icon-logo {
            position: relative;
            display: inline-block;

            &::before {
                content: '';
                background-image: url('/src/assets/img/icons/suitcase.svg');
                position: absolute;
                top: 2px;
                left: 2px;
                width: 32px;
                height: 32px;
            }
        }
    }

    &__actions {
        display: flex;
        gap: 15px;

        .header__action {
            background: none;
            border: none;
            cursor: pointer;
            position: relative;

            .icon-cart {
                display: inline-block;
                position: relative;
            }

            .header-cart-counter {
                position: absolute;
                top: -10px;
                right: -14px;
                width: 20px;
                height: 20px;
                border: 2px solid rgb(233 30 99);
                border-radius: 50%;
                color: rgb(233 30 99);
                font-size: 12px;
                font-weight: $font-weight-bold;
                display: none;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &__bottom {
        padding: 30px 0 25px;

        .nav {
            &__list {
                display: flex;
                justify-content: center;
                gap: 30px;
            }

            &__link {
                color: $color-black;
                text-decoration: none;
                transition: color 0.3s;

                &--active {
                    color: $color-link-active;
                }

                &:hover {
                    color: $color-link-hover;
                }

                .nav__icon {
                    width: 12px;
                    height: 12px;
                    margin-left: 6px;
                }
            }
        }
    }
}

@media (width <= 768px) {
    .header {
        &__container {
            padding: 30px;
        }

        &__top {
            flex-direction: column;
            gap: 20px;
            padding: 55px 0 20px;
        }

        &__socials {
            order: 2;
        }

        &__logo {
            order: 1;
        }

        &__actions {
            order: 3;
        }

        &__bottom {
            .nav {
                &__list {
                    flex-direction: column;
                    font-size: 24px;
                }

                &__link {
                    .nav__icon {
                        height: 23px;
                    }
                }
            }
        }
    }

    .menu {
        &__body {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: rgb(200 189 189);
            padding: 0 30px;
            transition: left 0.3s ease 0s;
            z-index: 1000;
        }

        &__body.active {
            left: 0;
        }

        &__icon {
            z-index: 1001;
            display: block;
            position: relative;
            height: 20px;
            cursor: pointer;
        }

        &__icon span,
        &__icon::before,
        &__icon::after {
            left: 0;
            position: absolute;
            height: 3px;
            width: 25px;
            transition: all 0.3s ease 0s;
            background-color: $color-black;
        }

        &__icon::before,
        &__icon::after {
            content: '';
        }

        &__icon::before {
            top: 0;
        }

        &__icon::after {
            bottom: 0;
        }

        &__icon span {
            top: 50%;
            transform: scale(1) translate(0, -50%);
        }

        &__icon.active span {
            transform: scale(0) translate(0, -50%);
        }

        &__icon.active::before {
            top: 50%;
            transform: rotate(-45deg) translate(0, -50%);
        }

        &__icon.active::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0, 50%);
        }

        &__icon.active span,
        &__icon.active::before,
        &__icon.active::after {
            background-color: $color-black;
        }
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}
