@use '../abstracts/variables' as *;
@use 'sass:color';

// start product-tabs section

.product-tabs {
    font-family: $font-primary;
    margin-top: 77px;

    &__nav {
        display: flex;
        justify-content: center;
        gap: 120px;
        margin-bottom: 30px;
    }

    &__nav-item {
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        cursor: pointer;
        padding-bottom: 10px;
        position: relative;
        transition: color 0.3s;

        &--active {
            &::after {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $color-link-active;
            }
        }

        &:hover {
            color: $color-link-hover;
        }
    }

    &__content {
        font-size: $font-size-medium;
        line-height: 24px;
        color: $color-grey;

        &-text {
            margin-bottom: 35px;
        }
    }

    &__panel {
        display: none;

        &--active {
            display: block;
        }
    }
}

@media (width <= 768px) {
    .product-tabs {
        &__nav {
            justify-content: space-between;
            gap: 0;
        }

        &__nav-item {
            font-size: 15px;
        }
    }
}

// end product-tabs section

// start product-reviews section

.product-reviews {
    display: flex;
    gap: 145px;
    font-family: $font-primary;
    color: $color-black;

    &__list {
        flex: 1;
    }

    &__title {
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        margin-bottom: 95px;
    }

    &__item {
        display: flex;
        gap: 25px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &-header {
            display: flex;
            justify-content: space-between;
        }
    }

    &__avatar {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__date {
        font-size: $font-size-smallest;
        color: rgb(114 113 116 / 100%);
    }

    &__name {
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        margin-right: 5px;
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__text {
        font-size: $font-size-medium;
    }

    &__form {
        flex: 1;
    }

    &__form-title {
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        margin-bottom: 20px;
    }

    &__note {
        font-size: 12px;
        margin-bottom: 29px;
    }

    &__required {
        color: rgb(185 39 112 / 100%);
    }

    &__rate-product {
        display: flex;
        gap: 16px;
        margin-bottom: 28px;
    }
}

@media (width <= 1024px) {
    .product-reviews {
        flex-direction: column;
        align-items: center;
        gap: 30px;

        &__title {
            margin-bottom: 30px;
        }

        &__info {
            width: 100%;
            max-width: 530px;
        }

        &__form-title {
            margin-bottom: 30px;
        }

        &__textarea {
            width: 100%;
            max-width: 600px;
        }

        &__input {
            flex: 1 1 290px;
            max-width: 290px;
            width: 100%;
        }
    }
}

@media (width <= 768px) {
    .product-reviews {
        gap: 30px;
        padding: 0 20px;

        &__title {
            font-size: 18px;
            margin-bottom: 35px;
        }

        &__item {
            gap: 10px;

            &__avatar {
                width: 40px;
                height: 40px;
            }

            &__text {
                font-size: 14px;
            }

            &__date {
                font-size: 11px;
            }

            &__name {
                font-size: 14px;
            }
        }

        &__form-title {
            font-size: 16px;
            margin-bottom: 15px;
        }

        &__note {
            font-size: 11px;
            margin-bottom: 20px;
        }

        &__textarea {
            width: 100%;
            font-size: 14px;
        }

        &__input {
            padding: 8px;
            font-size: 12px;
            width: 100%;
            max-width: 100%;
        }

        &__checkbox {
            font-size: 0.8rem;
            margin-bottom: 20px;

            input[type='checkbox'] {
                width: 14px;
                height: 14px;
            }
        }

        &__submit {
            padding: 10px 18px;
            font-size: 11px;
        }
    }
}

// end product-reviews section

// start you-may-also-like section

.you-may-also-like {
    font-family: $font-primary;

    &__carousel {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__list-wrapper {
        overflow: hidden;
        flex: 1;
    }

    &__container {
        max-width: 1400px;
        padding: 0 50px;
        margin-top: 120px;
    }

    &__title {
        font-size: 30px;
        font-weight: $font-weight-bold;
        text-align: center;
        margin-bottom: 70px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            width: 282px;
            height: 2px;
            background-color: rgb(185 39 112 / 100%);
        }
    }

    &__description {
        font-size: $font-size-medium;
        text-align: center;
        margin-bottom: 60px;
    }

    &__list {
        display: flex;
        gap: 40px;
        transition: transform 0.3s ease;
        position: relative;

        .also-like {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            &__image {
                position: relative;
                display: flex;
                max-width: 100%;
                height: 400px;

                img {
                    width: 296px;
                    height: auto;
                    object-fit: cover;
                }
            }

            &__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-grow: 1;
            }

            &__sale-label {
                position: absolute;
                top: 15px;
                left: 15px;
                background: $color-sale;
                font-size: 12px;
                font-weight: $font-weight-bold;
                color: $color-white;
                padding: 10px 8px;
                width: 54px;
                text-align: center;
            }

            &__name {
                margin-top: 25px;
                margin-bottom: 15px;
                font-size: 19px;
                font-weight: $font-weight-bold;
                text-align: center;
                hyphens: auto;
            }

            &__price {
                font-size: 19px;
                font-weight: $font-weight-bold;
                text-align: center;
                margin-bottom: 15px;
            }

            &__btn {
                padding: 10px 25px;
            }
        }
    }

    &__arrow {
        background-color: rgb(185 39 112 / 100%);
        border: none;
        border-top-left-radius: 18px;
        border-bottom-right-radius: 18px;
        font-size: 48px;
        cursor: pointer;
        padding: 0 10px;
        color: $color-white;

        &:hover {
            background-color: color.adjust(
                rgb(185 39 112 / 100%),
                $lightness: -10%
            );
        }

        &--prev {
            position: absolute;
            top: 50%;
            left: -45px;
            transform: translateY(-50%);
            z-index: 1;
        }

        &--next {
            position: absolute;
            top: 50%;
            right: -45px;
            transform: translateY(-50%);
            z-index: 1;
        }
    }
}

@media (width <= 768px) {
    .you-may-also-like {
        &__container {
            margin-top: 40px;
        }

        &__title {
            margin-bottom: 30px;
            font-size: 28px;
        }
    }
}

// end you-may-also-like section
