$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Helvetica Neue', sans-serif;

/* ===== FONT SIZES ===== */
$font-size-smallest: 13px;
$font-size-small: 15px;
$font-size-medium: 17px;
$font-size-large: 40px;

/* ===== FONT WEIGHTS ===== */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

/* ===== COLORS ===== */
$color-white: rgb(255 255 255 / 100%);
$color-black: rgb(0 0 0 / 100%);
$color-grey: rgb(80 78 74 / 100%);
$color-sale: rgb(185 39 112 / 100%);
$color-button: rgb(185 39 112 / 100%);
$color-link-active: rgb(185 39 112 / 100%);
$color-link-hover: rgb(185 39 112 / 100%);

/* ======= BORDER RADII ======= */
$border-radius-sm: 5px;
