<footer class="footer">
    <div class="footer__benefits-wrapper">
        <div class="container">
            <h5 id="footer-benefits-title" class="footer__benefits-title">
                Our benefits
            </h5>
            <div
                class="footer__benefits"
                aria-labelledby="footer-benefits-title"
            >
                <div class="footer__benefit">
                    <img
                        src="/src/assets/img/plane.png"
                        alt="Fast delivery by plane"
                        class="footer__icon"
                    />
                    <p class="footer__text">
                        Velit nisl sodales eget donec quis. volutpat orci.
                    </p>
                </div>
                <div class="footer__benefit">
                    <img
                        src="/src/assets/img/truck.png"
                        alt="Reliable truck shipping"
                        class="footer__icon"
                    />
                    <p class="footer__text">
                        Dolor eu varius. Morbi fermentum velit nisl.
                    </p>
                </div>
                <div class="footer__benefit">
                    <img
                        src="/src/assets/img/coin.png"
                        alt="Affordable prices"
                        class="footer__icon"
                    />
                    <p class="footer__text">
                        Malesuada fames ac ante ipsum primis in faucibus.
                    </p>
                </div>
                <div class="footer__benefit">
                    <img
                        src="/src/assets/img/graduation-hat.png"
                        alt="Expert support"
                        class="footer__icon"
                    />
                    <p class="footer__text">
                        Nisl sodales eget donec quis. volutpat orci.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__container container">
        <div class="footer__content">
            <div class="footer__content-wrapper">
                <div class="footer__content-top">
                    <nav
                        class="footer__section footer__section--about"
                        aria-labelledby="footer-about"
                    >
                        <h6 id="footer-about" class="footer__title">
                            About Us
                        </h6>
                        <ul class="footer__list">
                            <li>
                                <a href="#" class="footer__link"
                                    >Organisation</a
                                >
                            </li>
                            <li>
                                <a href="#" class="footer__link">Partners</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Clients</a>
                            </li>
                        </ul>
                    </nav>

                    <nav
                        class="footer__section footer__section--links"
                        aria-labelledby="footer-links"
                    >
                        <h6 id="footer-links" class="footer__title">
                            Interesting Links
                        </h6>
                        <ul class="footer__list">
                            <li>
                                <a href="#" class="footer__link"
                                    >Photo Gallery</a
                                >
                            </li>
                            <li>
                                <a href="#" class="footer__link">Our Team</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Socials</a>
                            </li>
                        </ul>
                    </nav>

                    <nav
                        class="footer__section footer__section--achievements"
                        aria-labelledby="footer-achievements"
                    >
                        <h6 id="footer-achievements" class="footer__title">
                            Achievements
                        </h6>
                        <ul class="footer__list">
                            <li>
                                <a href="#" class="footer__link"
                                    >Winning Awards</a
                                >
                            </li>
                            <li><a href="#" class="footer__link">Press</a></li>
                            <li>
                                <a href="#" class="footer__link"
                                    >Our Amazing Clients</a
                                >
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="footer__content-bottom">
                    <div
                        class="footer__section footer__section--shipping"
                        aria-labelledby="footer-shipping"
                    >
                        <h3 id="footer-shipping" class="footer__title">
                            Shipping Information
                        </h3>
                        <p class="footer__text">
                            Nulla eleifend pulvinar purus, molestie euismod odio
                            imperdiet ac. Ut sit amet erat nec nibh rhoncus
                            varius in non lorem. Donec interdum, lectus in
                            convallis pulvinar, enim elit porta sapien, vel
                            finibus erat felis sed neque. Etiam aliquet neque
                            sagittis erat tincidunt aliquam.
                        </p>
                    </div>
                </div>
            </div>

            <div
                class="footer__section footer__section--contact"
                aria-labelledby="footer-contact"
            >
                <h6 id="footer-contact" class="footer__title">Contact Us</h6>
                <p class="footer__contact-text">
                    Bendum dolor eu varius. Morbi fermentum velitsodales
                    egetonec. volutpat orci. Sed ipsum felis, tristique egestas
                    et, convallis ac velitn consequat nec luctus.
                </p>

                <div class="footer__contact-info">
                    <div class="footer__contact-item">
                        <img
                            src="/src/assets/img/icons/phone.svg"
                            alt="Phone icon"
                            class="footer__contact-icon"
                        />
                        <a href="tel:++632366322">Phone: (+63) 236 6322</a>
                    </div>
                    <div class="footer__contact-item">
                        <img
                            src="/src/assets/img/icons/email.svg"
                            alt="Email icon"
                            class="footer__contact-icon"
                        />
                        <a href="mailto:public@news.com" class="footer__email"
                            >public@news.com</a
                        >
                    </div>
                    <div class="footer__contact-item">
                        <img
                            src="/src/assets/img/icons/time.svg"
                            alt="Time icon"
                            class="footer__contact-icon"
                        />
                        <div class="footer__schedule">
                            <time datetime="10:00:18:00"
                                >Mon - Fri: 10am - 6pm</time
                            >
                            <time datetime="10:00:18:00"
                                >Sat - Sun: 10am - 6pm</time
                            >
                        </div>
                    </div>
                    <div class="footer__contact-item">
                        <img
                            src="/src/assets/img/icons/location.svg"
                            alt="Location icon"
                            class="footer__contact-icon"
                        />
                        <address>
                            <span>639 Jade Valley, </span>
                            <span>Washington Dc</span>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <p>&copy; Copyright 2025</p>
        </div>
    </div>
</footer>
