@use './base/reset';
@use './abstracts/variables';
@use './base/fonts';
@use './components/buttons';
@use './components/forms';
@use './components/modal-window';
@use './layouts/header';
@use './layouts/footer';
@use './pages/home';
@use './pages/catalog';
@use './pages/about';
@use './pages/contact';
@use './components/product-card';
@use './pages/product-details';
@use './pages/cart';

body.lock {
    overflow: hidden;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}
